@media (max-width: 600px) {


    .home-cards-container {
        justify-content: space-between;
    }

    .home-header {
        padding: 12px;
    }

    .home-navbar1{
        display: none;
    }

    .home-container {
        padding-top: 60px;
    }

    .category-card-image {
        width: 195px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .section-container {
        padding-top: 0;
        flex-direction: column;
    }

    .Heading-2 {
        font-size: 21px;
    }

    .section-heading-text {
        margin-bottom: 8px;
    }

    .section-heading-text1 {
        font-size: 12px;
    }

    .section-heading-section-heading {
        margin-bottom: 32px;
    }

    .max-width-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-cards-container {
        grid-gap: 10px;
    }

    .home-text29 {
        font-size: 24px;
        margin-top: 20px;
    }

    .home-text30 {
        width: 96%;
        font-size: 14px;
    }

    .home-content {
        margin: 0px 0 14px 0;
    }

    .button {
        margin-bottom: 24px;
        padding: 8px 16px;
    }

    .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card {
        max-width: 100%;
    }

    .home-main {
        padding-bottom: 40px;
    }

    .home-footer1 {
        flex-direction: column;
        padding: 30px;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-container09 {
        order: 100;
    }

}