body {
    font-family: sans-serif;
    
}

.container i {
    font-size: large;
    background-color: rgb(240, 240, 240);
    border-radius: 90px;
    padding: 20px;
    margin: auto;
}

.list-header {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
}
